@{
    ViewBag.Title = "Zarządzanie kontem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/AccountManagmentCss/account-managment.css" rel="stylesheet" type="text/css" />

<div class="panel panel-success">
    <table class="AM-table">
        <tr>
            <td bgcolor="#339933"> <img src="~/Content/Images/AccountManagment/orders.png" alt="banner1" /> Zamówienia </td>
            <td bgcolor="#339933"> <img src="~/Content/Images/AccountManagment/shopping-cart.png" alt="banner2" /> Koszyk </td>
            <td bgcolor="#339933"> <img src="~/Content/Images/AccountManagment/complaints.png" alt="banner3" /> Reklamacje </td>
        </tr>
        <tr>
            <td bgcolor="#339933"> <img src="~/Content/Images/AccountManagment/settings.png" alt="banner4" /> Opcje </td>
            <td bgcolor="#339933"> <img src="~/Content/Images/AccountManagment/notice.png" alt="banner5" /> Powiadomienia </td>
        </tr>

    </table>
</div>
