@model IEnumerable<SportStore.Domain.Entities.client_notyfications>

@{
    ViewBag.Title = "Powiadomienia";
}

<div class="panel panel-success">

    <h2 style="font-family: 'Open Sans', Arial;">Powiadomienia od sklepu SportStore</h2>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Wiadomość</th>
                <th></th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            if (!item.AsRead)
            {
                <tr class="info">
                    <td> @item.Message  </td>
                    <td></td>
                    <td> @Html.ActionLink("Przeczytane", "DeleteNote", new { id = item.Id }, new { @class = "btn btn-info" }) </td>
                </tr>
            }
            else
            {
                <tr>
                    <td> @item.Message  </td>
                    <td> </td>
                    <td> </td>
                </tr>
            }
        }
        </tbody>
    </table>

    <hr />
    <a href='@Url.Action("AccountManagment", "Client")' class="btn btn-info">Powrót</a>
</div> 
