
@{
    ViewBag.Title = "O nas";
}

<div id="panel" class="panel">

    <h2 style="margin-left: 15px;">O nas</h2>
    <hr />

    <div id="all">
        <p>
            Kiedy w 2004 roku rozpoczynaliśmy działalność w sieci Internet prowadziło nas przekonanie, że jedyną receptą na sukces jest pełne otwarcie na potrzeby i oczekiwania naszych Klientów.
            Dziś bogatsi o zdobyte doświadczenie, codziennie przekonujemy się, że wybrana droga okazała się słuszna.
            Wsłuchujemy się uważnie w każdą sugestię i opinię, analizujemy nasze działanie i wyciągamy wnioski.
            Dzięki opiniom Klientów możemy systematycznie i harmonijnie rozwijać naszą działalność.
        </p>

        <br />

        <h4><b>Zaufanie Klientów procentuje</b></h4>

        <br />

        <p>
            Entuzjazm, wytrwałość i konsekwencja we współpracy z Klientami potwierdzone zostały certyfikatami nadanymi przez niezależne ośrodki.
            Od 2009 roku uczestniczymy w programie „Słucham swoich Klientów”.
            Certyfikat świadczy, że główna droga rozwoju, którą podążamy opiera się na analizie potrzeb, wyrażanych przez Kupujących.
            Jakość naszych usług od 2007 roku oceniają użytkownicy serwisu sklepy24.pl. Jesteśmy dumni, że niezmiennie utrzymujemy status sklepu „polecanego przez Klientów”.
        </p>

        <br />

        <h4><b>Stawiamy na jakość oferowanych usług</b></h4>

        <br />

        <p>
            Prestiż i uznanie, w tak wymagającej dziedzinie jak handel, buduje się w oparciu o najwyższą jakość oferowanych usług.
            Nasze starania przyniosły nam cenne wyróżnienia. To dowodzi, jak poważnie traktujemy zagadnienia etyki w biznesie.
            Nasza działalność jest transparentna i odpowiedzialna, sumiennie regulujemy swoje zobowiązania finansowe.
        </p>

        <p>
            Jesteśmy regularnie monitorowani przez Zespół Opineo, który ocenia, czy spełniamy prawne wymogi funkcjonowania w Internecie.
            Posiadany przez nas Certyfikat jakości Q przyznany przez Zespól Opineo potwierdza, że rzetelnie informujemy Klientów o terminie i kosztach dostawy zakupionego produktu,
            oferujemy wiele form płatności, stosujemy przejrzysty tryb postępowania w przypadku zgłoszeń reklamacyjnych, informujemy o prawie zwrotu zakupionego towaru.
        </p>

        <br />

        <h4><b>SportStore to bezpieczne zakupy online</b></h4>

        <br />

        <p>
            Już na początku działalności zagadnienia polityki prywatności stały się naszym priorytetem.
            Nigdy nie zawiedliśmy pokładanego w nas zaufania. Szczycimy się Certyfikatem Zaufana Strona, 
            który zaświadcza, że ściśle przestrzegamy europejskich norm i zapisów Ustawy o ochronie danych osobowych oraz 
            Ustawy oświadczeniu usług elektronicznych.
        </p>

        <br />

        <h4><b>Wyróżnienia i nagrody</b></h4>

        <br />

        <table class="table">
            <thead>
                <tr>
                    <td>
                        <img src="~/Content/Images/Index/AboutUs/opineo-q.png" />
                    </td>
                    <td>
                        <img src="~/Content/Images/Index/AboutUs/opineo-wyroznienie-2012.png" />
                    </td>
                    <td>
                        <img src="~/Content/Images/Index/AboutUs/sklep-opinie_1339.png" />
                    </td>
                    <td>
                        <img src="~/Content/Images/Index/AboutUs/trustedshops_logo.png" />
                    </td>
                </tr>
            </thead>
        </table>

        <p>
            Dzięki naszym Klientom, kontaktom z kontrahentami i dostawcami, skupieniu na ciągłym podnoszeniu jakości, osiągnęliśmy na rynku pozycję,
             która znajduje uznanie w oczach niezależnych środowisk oceniających firmy i przedsiębiorstwa.
        </p>

        <p>
            Po raz kolejny z rzędu zajęliśmy czołową lokatę w rankingu, przeprowadzonym przez serwis internetowy Money.pl i Gazety Wyborczej. 
        </p>

        <p>
            W ocenie uwzględniono wiele kryteriów, między innymi: asortyment, 
            informacje o produkcie, procedura zamawiania i dostawa zakupów, sposoby płatności, interakcja z klientem, 
            jakość obsługi, łatwość dotarcia do informacji, przejrzystość i budowa strony, bonusy, pozostałe.
            Ranking ten koncentruje się na elementach, które stanowią istotę działalności Sklepu SportStore. 
            Trudno wyobrazić sobie większą satysfakcję niż poczucie dobrze spełnionego zadania. 
            Otrzymane wyróżnienie mobilizuje nas do jeszcze intensywniejszej pracy na rzecz rozwoju naszej firmy.
        </p>

        <p>
            Wyróżnienia i nagrody, które otrzymujemy (I miejsce w „Raporcie e-Commerce InternetStandard” w 
            kategorii największy sklep Internetowy w branży sport i turystyka, I miejsce w rankingu czasopisma 
            „Magazyn Internet” w kategorii najlepszy sport internetowy, miejsce w rankingu TOP3 prowadzonym przez 
            Opineo w kategorii Zdrowie i Uroda) traktujemy jako wielkie zobowiązanie na przyszłość.
        </p>

        <br />

    </div>

</div>

<script type="text/javascript">

</script>

<style>

    #panel {
        font-family: 'Open Sans', Arial;
        text-align: justify;
    }

    #all {
        margin-left: 50px;
        margin-right: 150px;
    }


</style>
