@{
    ViewBag.Title = "Strona Główna";
}

<link href="~/Content/Css/IndexCss/index-employee-section.css" type="text/css" rel="stylesheet" />

<!-- Przejscie do strefy pracownikow -->
<a href='@Url.Action("Login", "Employee")'>
    <div id="caly">
        <div id="blok1">
            <div id="blok_na_zawartosc">
                <p id="zawartosc">
                    Przejdź do strefy dla pracowników
                </p>
            </div>
        </div>

        <div id="blok2">
            <div id="uchwyt">P</div>
        </div>
    </div>
</a>

<!-- Div głowny -->
<div class="panel panel-success">
    <div class="panel-body">
    </div>
</div>