
@{
    ViewBag.Title = "Strona Główna";
}

<link href="~/Content/Css/IndexCss/index-employee-section.css" type="text/css" rel="stylesheet" />

<a href="#">
    <div id="caly">
        <div id="blok1">
            <div id="blok_na_zawartosc">
                <p id="zawartosc">
                    Przejdź do strefy dla pracowników
                </p>
            </div>
        </div>

        <div id="blok2">
            <div id="uchwyt">P</div>
        </div>
    </div>
</a>