@{
    ViewBag.Title = "podsumowanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success">
    <div class="panel-body">

        <div class="newsletter-button">
            <table>
                <tr>
                    <td> <img src="~/Content/Images/Newsletter/succes-sign.png" /> </td>
                    <td> <h1> <strong>Dziękujemy!</strong></h1> </td>
                </tr>
            </table>
        </div>

        <div class="newsletter-details">
            <p></p>
            <p> Newsletter będzie wysyłany na adres: @ViewBag.Email </p>
        </div>

    </div>
</div>