
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>registerThanks</title>
</head>
<body>
    <p>Twoje konto zostało założone poprawnie.</p>
</body>
</html>
