
@{
    ViewBag.Title = "registerThanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success">
    <div class="panel-body">
        <p>Twoje konto zostało założone poprawnie.</p>
    </div>
</div>