@model IEnumerable<SportStore.Domain.Entities._dict_catalogs>


        <!-- Okno modalne -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-family: 'Open Sans',Arial;">Kategorie produktów w sklepie SportStore</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills nav-stacked">
                    @{
                        foreach (var catalog in Model)
                        {
                            <li>
                               @Html.ActionLink(catalog.Name, "Catalogs", new { controller = "Catalog", catalogId = catalog.Id, page = 1 })
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
