.newsletter-button {
    margin-left: 25%;
}

.newsletter-button h1 {
    font-family: 'Open Sans', Arial;
    font-size: 64px;
}

.newsletter-button img {
    width: 30%;
    height: 30%;
}

.newsletter-details p {
    font-family: 'Open Sans', Arial;
    font-size: 24px;
    margin-left: 25%;
}