.AM-table td {
    margin-top: 50px;
    margin-left: 200px;
    float: left;
    font-family: 'Open Sans', Arial;
}

.AM-table img {
    height: 90px;
    width: 90px;
}

.AM-table tr td:hover {
   
}

.AM-table {
   /* klasa tablicy, jak chcesz to wywal*/
}


