.panel {
    font-family: 'Open Sans', Arial;
}

#gorny{
    margin-top: 35px;
    margin-bottom: 80px;
}

#dolny {

}

#navi {
    min-height: 442px;
}

#ck {
    width: 192px;
}

#ok {
    width: 252px;
}