table.AM-table tr td img
{
    height: 90px;
    width: 90px;
}

table.AM-table tr td:hover
{
   
}
table.AM-table tr td 
{
    height: 140px;
    width: 200px;
    font-family: Arial;
}
table.AM-table 
{
   /* klasa tablicy, jak chcesz to wywal*/
}


